@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');



h2{
    font-size: 3em;
    text-align:center;
}


.buttons{
margin-top: 20px;
}

.niveles{
    position: relative;
    top: 12rem;
}

.score{
    margin-left: 50vh;
    margin-right: 50vh;

    display: flex;
    justify-content: space-around;
}
.score P{
    display: inline;
}


img{
    position: relative;
    width: 300px;
    height: 300px;
}

a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}