@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

body{
    width: 100%;
    height: 100%;
}

#vidas{
    margin-right: 20px;
}

h2{
    font-size: 3em;
    text-align:center;
    margin-bottom: 20px;
}

h2.nivel{
    color: rgb(255, 0, 0);
}

.btn-play{
    position: absolute;
    width: 100%;
    top: 90vh;
    display: flex;
    justify-content: space-around;
}

.buttons{
margin-top: 20px;
}

.niveles{
    position: relative;
    top: 12rem;
}

.score{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
}
.score div{
    display: flex;
}
.score div p{
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(255, 0, 0);
}


img{
    position: relative;
    width: 300px;
    height: 300px;
}

a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}